<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>Mfa</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="h-100">
    <%= render 'layouts/header'%>
    <%= yield %>
  </body>
</html>
